<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Mortgage Calculator</title>
</head>
<body>

<!-- Header Section --> <!--Whole section needs css styling for different widow sizes-->
<div class="w3-right">
  <div class="w3-bar">
    <!-- Right Menu -->
    <button class="w3-bar-item w3-button w3-light-grey" style="font-size:20px" onclick="new_mortgage()">Add a new mortgage</button>
    <button class="w3-bar-item w3-button w3-light-grey" style="font-size:20px">Update an existing mortgage</button>
    <button class="w3-bar-item w3-button w3-light-grey" style="font-size:20px">View History</button>
    <button id="logoutButton" class="w3-bar-item w3-button w3-light-grey" style="font-size:20px" onclick="logout()">Logout</button>
    <button class="w3-bar-item w3-button w3-light-grey"><i class="material-icons" style="font-size:24px">person</i></button>
  </div>
</div>
<div class="w3-bar w3-left">
  <!-- Left Menu -->
  <button href="#" class="w3-bar-item w3-button w3-border">Combined</button>
  <button href="#" class="w3-bar-item w3-button w3-border">Dynamic Item 1</button>
  <button href="#" class="w3-bar-item w3-button w3-border">Dynamic Item 2</button>
</div>

<!-- Main Content Sections -->
<div class="w3-row">
  <!-- Left Section -->
  <div class="w3-col s6 w3-margin-top">
    <div class="w3-container">
      <div class="w3-cell-row">
        <div class="w3-container w3-cell w3-center" style="padding: 0">
          <h2>Analysis Summary</h2>
        </div>
        <div class="w3-container w3-cell w3-center w3-cell-bottom">
          <div class="w3-flex">
            <p style="display: inline-block; margin-right: 10px;">From:</p>
            <input type="date" id="dateInput" class="w3-input w3-border" style="display: inline-block">
          </div>
        </div>
        <div class="w3-container w3-cell w3-center w3-toggle-switch w3-cell-bottom">
          <label class="switch">
            <p>Fortnightly</p>
            <input type="checkbox">
            <span class="slider round"></span>
            <p>Monthly</p>
          </label>
        </div>
      </div>
    </div>

    <!-- Fixed Table -->
    <div class="w3-container">
      <table class="w3-table w3-border w3-bordered w3-hoverable">
        <tr>
          <th class="w3-blue">Estimated Repayments:</th>
          <td></td>
          <th class="w3-blue">Full Term To Amortize:</th>
          <td></td>
        </tr>
        <tr>
          <th class="w3-blue">Interest:</th>
          <td></td>
          <th class="w3-blue">Estimated Reduced Term To Amortize:</th>
          <td></td>
        </tr>
        <tr>
          <th class="w3-blue">Principal:</th>
          <td></td>
          <th class="w3-blue">Interest Over Full Term:</th>
          <td></td>
        </tr>
        <tr>
          <th class="w3-blue">Extra:</th>
          <td></td>
          <th class="w3-blue">Total Principal + Interest:</th>
          <td></td>
        </tr>
        <tr>
          <th class="w3-blue">Repayment:</th>
          <td></td>
          <th class="w3-blue">Interest Over Reduced Term:</th>
          <td></td>
        </tr>
        <tr>
          <th class="w3-blue">Payments Over Full Term:</th>
          <td></td>
          <th class="w3-blue">Interest Saved Over Reduced Term:</th>
          <td></td>
        </tr>
        <tr>
          <th class="w3-blue">Payments Over Reduced Term:</th>
          <td></td>
          <th class="w3-blue">Total Principal + Interest Over Reduced Term:</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Top Right Section -->
  <div class="w3-col s6" style="display: flex; height: 100%">
    <div class="w3-container" style="height: 100%; padding-left: 0">
      <div class="w3-cell-row" style="height: 100%">
        <div class="w3-cell w3-center" style="height: 100%">
          <!-- Placeholder for Graph -->
          <div id="graphPlaceholder" style="height: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bottom Section -->
<div class="w3-container">
  <h2>Amortization Table</h2>
  <table class="w3-table w3-border w3-bordered w3-hoverable">
    <tr>
      <th class="w3-blue">Date</th>
      <th class="w3-blue">Balance</th>
      <th class="w3-blue">Interest</th>
      <th class="w3-blue">Principal</th>
      <th class="w3-blue">Extra</th>
      <th class="w3-blue">Payment</th>
      <th class="w3-blue">Amount of Principal</th>
      <th class="w3-blue">New Balance</th>
      <th class="w3-blue">Acummulated Interest</th>
      <th class="w3-blue">Accumulated Principal Payments</th>
    </tr>
  </table>
</div>

<script>
  function logout() {
      window.location.href = '/logout';  // Redirect to the logout endpoint
  }

  function new_mortgage() {
    window.location.href = '/new_mortgage';  // Redirect to the add mortgage endpoint
  }
</script>

</body>
</html>
