<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Mortgage Calculator</title>
</head>
<body onload="loadDefaultSelection()">

<!-- Header Section -->
<div class="w3-right">
  <div class="w3-bar">
    <!-- Right Menu -->
    <button class="w3-bar-item w3-button w3-light-grey" style="font-size:20px" onclick="new_mortgage()">Add a new mortgage</button>
    <button class="w3-bar-item w3-button w3-light-grey" style="font-size:20px" onclick="update_mortgage()">Update an existing mortgage</button>
    <button class="w3-bar-item w3-button w3-light-grey" style="font-size:20px" onclick="remove_data()">View History</button>
    <button id="logoutButton" class="w3-bar-item w3-button w3-light-grey" style="font-size:20px" onclick="logout()">Logout</button>
    <button class="w3-bar-item w3-button w3-light-grey" onclick="user_settings()"><i class="material-icons" style="font-size:24px">person</i></button>
  </div>
</div>

<div class="w3-bar w3-left">
  <!-- Left Menu -->
  {% if mortgages|length > 1 %}
    <button href="#" class="w3-bar-item w3-button w3-border" id="Combined" onclick="selectOption('Combined')">Combined</button>
  {% endif %}
  {% for mortgage in mortgages %}
    <button href="#" class="w3-bar-item w3-button w3-border" id="{{ mortgage.name }}" onclick="selectOption('{{ mortgage.name }}')">{{ mortgage.name }}</button>
  {% endfor %}
</div>

<!-- Main Content Sections -->
<div class="w3-row">
  <!-- Left Section -->
  <div class="w3-col s6 w3-margin-top">
    <div class="w3-container">
      <div class="w3-cell-row">
        <div class="w3-container w3-cell w3-center" style="padding: 0">
          <h2>Analysis Summary</h2>
        </div>
        <div class="w3-container w3-cell w3-center w3-cell-bottom">
          <div class="w3-flex">
            <p style="display: inline-block; margin-right: 10px;">From:</p>
            <input type="date" id="dateInput" class="w3-input w3-border" style="display: inline-block">
          </div>
        </div>
        <div class="w3-container w3-cell w3-center w3-toggle-switch w3-cell-bottom">
          <label class="switch">
            <p>Fortnightly</p>
            <input type="checkbox">
            <span class="slider round"></span>
            <p>Monthly</p>
          </label>
        </div>
      </div>
    </div>

    <!-- Fixed Table -->
    <div class="w3-container">
      <table class="w3-table w3-border w3-bordered w3-hoverable">
        <tr>
          <th class="w3-blue">Estimated Repayments:</th>
          <td id="estimated-repayments">{{ initial_data.estimated_repayments }}</td>
          <th class="w3-blue">Full Term To Amortize:</th>
          <td id="full-term-amortize">{{ initial_data.full_term_to_amortize }}</td>
        </tr>
        <tr>
          <th class="w3-blue">Interest:</th>
          <td id="interest">{{ initial_data.interest }}</td>
          <th class="w3-blue">Estimated Reduced Term To Amortize:</th>
          <td id="estimated-reduced-term-amortize">{{ initial_data.estimated_reduced_term_to_amortize }}</td>
        </tr>
        <tr>
          <th class="w3-blue">Principal:</th>
          <td id="principal">{{ initial_data.principal }}</td>
          <th class="w3-blue">Interest Over Full Term:</th>
          <td id="interest-over-term">{{ initial_data.interest_over_term }}</td>
        </tr>
        <tr>
          <th class="w3-blue">Extra:</th>
          <td id="extra">{{ initial_data.extra }}</td>
          <th class="w3-blue">Total Principal + Interest:</th>
          <td id="total-principal-interest">{{ initial_data.total_principal_interest }}</td>
        </tr>
        <tr>
          <th class="w3-blue">Repayment:</th>
          <td id="repayment">{{ initial_data.repayment }}</td>
          <th class="w3-blue">Interest Over Reduced Term:</th>
          <td id="interest-over-reduced-term">{{ initial_data.interest_over_reduced_term }}</td>
        </tr>
        <tr>
          <th class="w3-blue">Payments Over Full Term:</th>
          <td id="payments-over-term">{{ initial_data.payments_over_term }}</td>
          <th class="w3-blue">Interest Saved Over Reduced Term:</th>
          <td id="interest-saved-over-reduced-term">{{ initial_data.interest_saved_over_reduced_term }}</td>
        </tr>
        <tr>
          <th class="w3-blue">Payments Over Reduced Term:</th>
          <td id="payments-over-reduced-term">{{ initial_data.payments_over_reduced_term }}</td>
          <th class="w3-blue">Total Principal + Interest Over Reduced Term:</th>
          <td id="total-principal-interest-over-reduced-term">{{ initial_data.total_principal_interest_over_reduced_term }}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Top Right Section -->
  <div class="w3-col s6" style="display: flex; height: 100%">
    <div class="w3-container" style="height: 100%; padding-left: 0">
      <div class="w3-cell-row" style="height: 100%">
        <div class="w3-cell w3-center" style="height: 100%">
          <!-- Placeholder for Graph -->
          <div id="graph-data" style="height: 400px"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bottom Section -->
<div class="w3-container">
  <h2>Amortization Table</h2>
  <table class="w3-table w3-border w3-bordered w3-hoverable">
    <!-- Add IDs to elements to update dynamically -->
    <tr>
      <th class="w3-blue">Date</th>
      <th class="w3-blue">Balance</th>
      <th class="w3-blue">Interest</th>
      <th class="w3-blue">Principal</th>
      <th class="w3-blue">Extra</th>
      <th class="w3-blue">Payment</th>
      <th class="w3-blue">New Balance</th>
      <th class="w3-blue">Accumulated Interest</th>
      <th class="w3-blue">Accumulated Principal Payments</th>
    </tr>
    <tbody id="amortization-table-body">
      {{ initial_data.amortization_table|safe }}
    </tbody>
  </table>
</div>

<script>
  // Load the default selection on page load
  function loadDefaultSelection() {
    let defaultSelection = "{{ default_selection }}";
    if (defaultSelection) {
      document.getElementById(defaultSelection).click();
    }
  }

  function selectOption(option) {
    // Fetch and update data based on the selected option
    fetch(`/get_data/${option}`)
      .then(response => response.json())
      .then(data => {
        document.getElementById('estimated-repayments').innerText = data.estimated_repayments;
        document.getElementById('full-term-amortize').innerText = data.full_term_to_amortize;
        document.getElementById('interest').innerText = data.interest;
        document.getElementById('estimated-reduced-term-amortize').innerText = data.estimated_reduced_term_to_amortize;
        document.getElementById('principal').innerText = data.principal;
        document.getElementById('interest-over-term').innerText = data.interest_over_term;
        document.getElementById('extra').innerText = data.extra;
        document.getElementById('total-principal-interest').innerText = data.total_principal_interest;
        document.getElementById('repayment').innerText = data.repayment;
        document.getElementById('interest-over-reduced-term').innerText = data.interest_over_reduced_term;
        document.getElementById('payments-over-term').innerText = data.payments_over_term;
        document.getElementById('interest-saved-over-reduced-term').innerText = data.interest_saved_over_reduced_term;
        document.getElementById('payments-over-reduced-term').innerText = data.payments_over_reduced_term;
        document.getElementById('total-principal-interest-over-reduced-term').innerText = data.total_principal_interest_over_reduced_term;

        // Update graph data
        Plotly.react('graph-data', data.graph_data.data, data.graph_data.layout);

        // Update amortization table
        document.getElementById('amortization-table-body').innerHTML = data.amortization_table;
      });
  }

  function logout() {
      window.location.href = '/logout';  // Redirect to the logout endpoint
  }

  function new_mortgage() {
    window.location.href = '/new_mortgage';  // Redirect to the add mortgage endpoint
  }

  function update_mortgage() {
    window.location.href = '/update_mortgage';  // Redirect to the update mortgage endpoint
  }

  function remove_data() {
    window.location.href = '/remove_data';  // Redirect to the removing data endpoint
  }

  function user_settings() {
    window.location.href = '/user_settings';  // Redirect to the user settings endpoint
  }
</script>

</body>
</html>
