<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Mortgage Calculator: Register</title>
    <style>
        #register {
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="w3-row-padding w3-margin-top">
        <div id="register" class="w3-card-4" style="max-width: 600px">
            <div class="">
                <div class="w3-container w3-teal">
                    <h2>Register</h2>
                </div>
                <form action="/register" method="post" class="w3-container" id="register-form">

                    <label class="w3-label">Username</label>
                    <input type="text" class="w3-input" name="username" required><br>
                    <label class="w3-label">Password</label>
                    <input type="password" class="w3-input" name="password" required><br>
                    <label class="w3-label">Password again</label>
                    <input type="password" class="w3-input" name="passwordAgain" required><br>
                    <div class="w3-margin-top w3-margin-bottom">
                        <a href="/login" class="w3-left">< Back</a>
                        <button class="w3-right w3-btn w3-teal w3-margin-bottom" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    var registerForm = document.getElementById('register-form');
    registerForm.onsubmit = function() {
      if (this.elements["password"].value != this.elements['passwordAgain'].value) {
        alert("Passwords do not match");
        return false; // Prevent form submission
      }
      if (this.elements['password'].value.length < 6) {
        alert('Password must have at least 6 characters');
        return false; // Prevent form submission
      }
      if (this.elements['username'].value == this.elements['password'].value) {
        alert('Username and password must not be the same');
        return false; // Prevent form submission
      }
      // If all validation passes, the form will be submitted
      return true;
    }
</script>
</html>